<%= form_with(model: [@task.project, @task]) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Název" %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label "Popis" %><br />
    <%= f.text_area :description %>
  </div>

  <div class="field">

    <%= f.text_field :project, type: :hidden %>




    <%= f.check_box :is_done %>
    <%= f.label "Hotovo?" %>
  </div>
  <div class="actions">
<br>
    <%= f.submit 'Editovat', class:"btn btn-success" %>
  </div>
<% end %>
