

<p>
  <b>Název:</b>
  <%= @task.title %>
  <br>


</p>
<b>Popis:</b>
<%if @task.description.nil? == true %>
  Bez popisu
  <%else %>
<%= @task.description %>
<%end %>
<br>

<p>
  <br>
  <% if @task.is_done == true %>
  <strong>Hotovo</strong>
    <%else %>
    Nedoděláno
    <%end %>
  <br>
  <p>


</p>
<br>








<%= link_to 'Editovat', edit_project_task_path(@task.project, @task), class:"btn btn-dark" %>



<%= link_to 'Odstranit', project_task_path, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>



<br><br>
<div class="card" style="width: 25rem;">
  <div class="card-header">
    Tagy
  </div>
  <% @task.tags.each do |tag| %>
    <ul class="list-group list-group-flush">


      <%= link_to "#{tag.title}", [tag.task, tag], class:"list-group-item card bg-secondary"%>

  <%end %>

  <%= link_to 'Přidat tag', new_task_tag_path(@task), class:"btn btn-success" %>