

<p>
  <b><%= "#{I18n.t 'tasks.title'}" %> :</b>
  <%= @task.title %>
  <br>


</p>
<b><%="#{I18n.t 'forms.desc'}" %></b>
<%if @task.description.nil? == true %>
  <%= "#{I18n.t 'tasks.no_desc'}"%>
  <%else %>
<%= @task.description %>
<%end %>
<br>

<p>
  <br>
  <% if @task.is_done == true %>
  <strong><%="#{I18n.t 'tasks.comp_tasks'}" %></strong>
    <%else %>
   <%="#{I18n.t 'tasks.uncomp'}" %>
    <%end %>
  <br>
  <p>


</p>
<br>








<%= link_to "#{I18n.t 'forms.edit'}", edit_project_task_path(@task.project, @task), class:"btn btn-dark" %>



<%= link_to "#{I18n.t 'forms.destroy'}", project_task_path, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>



<br><br>
<div class="card" style="width: 25rem;">
  <div class="card-header">
    <%= "#{I18n.t 'tags.tags'}" %>
  </div>
  <% @task.tags.each do |tag| %>
    <ul class="list-group list-group-flush">


      <%= link_to "#{tag.title}", [tag.task, tag], class:"list-group-item card bg-secondary"%>

  <%end %>

  <%= link_to "#{I18n.t 'tags.new_tag'}", new_task_tag_path(@task), class:"btn btn-success" %>