<h1><%="#{I18n.t 'tags.all_my_tags'}" %></h1>


<br><br>

<br>





<table class="table table-striped">
  <thead>
  <tr>
    <th><%="#{I18n.t 'project.title'}" %></th>
    <th><%="#{I18n.t 'tags.under_task'}" %></th>
    <th colspan="5"></th>
  </tr>
  </thead>


  <tbody>
  <% @tags.each do |tag| %>

    <tr>
      <td><%= tag.title %></td>
      <td><%= tag.task.title %></td>
      <td><%= link_to "#{I18n.t 'forms.show'}",[tag.task, tag] , class: "btn btn-secondary" %></td>
      <td><%= link_to "#{I18n.t 'forms.edit'}", edit_task_tag_path(tag.task, tag), class: "btn btn-dark" %></td>
      <td><%= link_to "#{I18n.t 'forms.destroy'}",[@tag.task, @tag], method: :delete, data: { confirm: "#{I18n.t 'notice.are_you_sure'}" }, class:"btn btn-danger" %></td>
    </tr>

  <% end %>
  </tbody>
</table>






<br>

<br>
<br>
<br>
<%==pagy_nav(@pagy) %>