
<% if @projects.nil? == false %>

<table class="table table-striped">
  <thead>
  <tr>
    <th><%="#{I18n.t 'project.projects'}" %></th>

    <th colspan="3"></th>
  </tr>
  </thead>




<% @projects.each do |project| %>

    <tr>
      <td><%= highlight(project.title, params[:search]) %></td>

      <td><%= link_to "#{I18n.t 'forms.show'}", project, class: "btn btn-secondary" %></td>
      <td><%= link_to "#{I18n.t 'forms.edit'}", edit_project_path(project), class: "btn btn-dark" %></td>
      <td><%= link_to "#{I18n.t 'forms.destroy'}", project, method: :delete, data: { confirm: "#{I18n.t 'notice.are_you_sure'}" }, class:"btn btn-danger" %></td>
    </tr>
  <% end %>
<%end %> </table>

<% if @tasks.nil? == false %>
  <table class="table table-striped">
    <thead>
    <tr>
      <th><%="#{I18n.t 'tasks.tasks'}" %></th>

      <th colspan="3"></th>
    </tr>
    </thead>




    <% @tasks.each do |task| %>

      <tr>
        <td><%= highlight(task.title, params[:search]) %></td>
        <td><%= link_to "#{I18n.t 'forms.show'}", [task.project, task], class:"btn btn-secondary" %></td>
        <td><%= link_to "#{I18n.t 'forms.edit'}", edit_project_task_path(task.project, task), class:"btn btn-dark" %></td>
        <td><%= link_to "#{I18n.t 'forms.destroy'}", [task.project, task], method: :delete, data: { confirm: "#{I18n.t 'notice.are_you_sure'}" },class:"btn btn-danger" %></td>
      </tr>
    <% end %>
<%end %>
</table>

<% if @tags.nil? == false %>

    <table class="table table-striped">
      <thead>
      <tr>
        <th><%="#{I18n.t 'tags.tags'}" %></th>
        <th><%= "#{I18n.t 'tags.under_task'}" %></th>
        <th colspan="4"></th>
      </tr>
      </thead>

      <% @tags.each do |tag| %>
        <tr>
          <td><%= highlight(tag.title, params[:search]) %></td>
          <td><%= "#{tag.task.title}"%></td>
          <td><%= link_to "#{I18n.t 'forms.show'}", [tag.task, tag], class: "btn btn-secondary" %></td>
          <td><%= link_to "#{I18n.t 'forms.edit'}", edit_task_tag_path(tag.task, tag), class:"btn btn-dark" %></td>
          <td><%= link_to "#{I18n.t 'forms.destroy'}", [tag.task, tag], method: :delete, data: { confirm: "#{I18n.t 'notice.are_you_sure'}" }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
      <%end %>
</table>