
<p>
 <h1> <strong><%="#{I18n.t 'project.projects'}" %>: </strong>
  <%= @project.title %></h1>
</p>
<p>









  <%= form_with(model: [@project, @tasks]) do |f| %>

  <div class="input-group mb-4">
    <%= f.text_field :title, class:"form-control", placeholder:"#{I18n.t 'tasks.title_task'}" %>


    <%=f.submit "#{I18n.t 'forms.submit'}", class:"btn btn-secondary" %>
  </div>
<% end %>





<div class="card" style="width: 25rem;">
  <div class="card-header">
    <%="#{I18n.t 'tasks.tasks'}" %>
  </div>
  <% @project.tasks.each do |task| %>
  <ul class="list-group list-group-flush">
    <%if @show_only_comp == true %>
      <% if task.is_done == true %>
        <%= link_to "#{task.title}", [task.project, task], class:"list-group-item card bg-success"%>
        <%end %>
    <%else %>
     <% if task.is_done == false %>
      <%= link_to "#{task.title}", [task.project, task], class:"list-group-item card bg-danger"%>
      <%else %>
      <%= link_to "#{task.title}", [task.project, task], class:"list-group-item card bg-success"%>
        <%end %>
      <%end %>
<%end %>

  </ul>
</div>







<br>


<br><br>
<%= link_to "#{I18n.t 'forms.edit'}", edit_project_path(@project), class:"btn btn-dark" %>



