<h1>Listing tags</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tags.each do |tag| %>
  <tr>
    <td><%= tag.title %></td>
    <td><%= link_to 'Show', [tag.task, tag] %></td>
    <td><%= link_to 'Edit', edit_task_tag_path(tag.task, tag) %></td>
    <td><%= link_to 'Destroy', [tag.task, tag], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tag', new_task_tag_path(params[:task_id]) %>
